 {% include 'backend/header.html' %}
   {% include 'backend/sidebar.html' %}


 {% load static %}
  <!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><?= $page_title;?></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><?= $page_title;?></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

      <div class="container-xl">

    <div class="table-responsive">
        <div class="table-wrapper">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>User<b>Details</b></h2></div>

                </div>
            </div>

            <table id="example1" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Ott Id</th>
                        <th>Title</th>
<!--                        <th>Date Of Birth</th>-->
                        <th>Description</th>
                        <th>Ott</th>
                        <th>Uploaded_date</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                {% for i in regform %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.id}}</td>
                        <td>{{i.title}}</td>
<!--                        <td>{{i.dob}}</td>-->
                        <td>{{i.description}}</td>
                         <td>
  {% if i.file %}
                                 <video width="100" height="100" controls>
    <source src="{{  i.file.url }}" >
    Your browser does not support the video tag.
</video>
    {% else %}
        <p>No Video found.</p>
    {% endif %}

                        </td>
                     <td>{{ i.uploaded_at }}</td>

<td>
    {% if i.status == 3 %}
        <a href="{% url 'userlist/deactivate_catagory' i.id %}" id="activeLink" class="btn btn-danger text-white">Block</a>
    {% elif i.status == 2 %}
        <a href="{% url 'userlist/activate_catagory' i.id %}" id="activeLink" class="btn btn-success text-white">Activate</a>
    {% else  %}
        <a href="{% url 'userlist/suspend_user' i.id %}" id="blockLink" class="btn btn-warning text-white">Suspend</a>
    {% endif %}
</td>



                        <td>
                            <a href="{% url 'userlist/view_item' i.id %}" class="view" title="View" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                             <a href="{% url 'userlist/user_profile' i.id %}" class="moneysign" title="Money Sign" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                             <a href="{% url 'userlist/share_income' i.id %}" class="moneysign" title="Money Sign" data-toggle="tooltip"><i class="fa fa-location-arrow"></i></a>
                        </td>
                    </tr>
                {% endfor %}



                </tbody>
            </table>

        </div>
    </div>
</div>
    <!-- /.content-header -->

    <!-- Main content -->

      <!-- /.content -->
  </div>
{% include 'backend/footer.html' %}

  <!-- /.navbar -->

