 {% include 'backend/header.html' %}
   {% include 'backend/sidebar.html' %}


 {% load static %}
  <!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><?= $page_title;?></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><?= $page_title;?></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

      <div class="container-xl">

    <div class="table-responsive">
        <div class="table-wrapper">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Reported Videos<b>List</b></h2></div>

                </div>
            </div>

            <table id="example1" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Video Uploader's Name</th>
                        <th>Reported Video</th>
                        <th>Complaint Name</th>
                        <th>Report</th>
<!--                        <th>Date Of Birth</th>-->
<!--                        <th>Refferal Code</th>-->
<!--                        <th>Mobile</th>-->
                        <th>Created_date</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                {% for i in banform %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.video.user_id.name}}</td>
                        <td>
  {% if i.video.file %}
                                 <video width="100" height="100" controls>
    <source src="{{  i.video.file.url }}" >
    Your browser does not support the video tag.
</video>
    {% else %}
        <p>No Video found.</p>
    {% endif %}

                        </td>
                        <td>{{i.user.name}}</td>
                        <td>{{i.reason}}</td>
                        <td>{{i.timestamp}}</td>

<td>
    {% if i.video.status %}
        <a href="{% url 'reportlist/deactivate_catagory' i.video.id %}"  class="btn btn-danger text-white">Block</a>

    {% else %}
        <a href="{% url 'reportlist/activate_catagory' i.video.id %}" class="btn btn-success text-white">Activate</a>
    {% endif %}


</td>


                        <td>
                            <a href="{% url 'reportlist/view_item' i.id %}" class="view" title="View" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'reportlist/delete_item' i.id %}" ><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                {% endfor %}



                </tbody>
            </table>

        </div>
    </div>
</div>
    <!-- /.content-header -->

    <!-- Main content -->

      <!-- /.content -->
  </div>
{% include 'backend/footer.html' %}

  <!-- /.navbar -->

